
:root {

    /* -------------
        Colorimetría 
       -------------
    */
    /* Brand Colors */
    --colorprimary: rgba(0, 150, 230, 1);
    --colorsecondary: rgba(234, 220, 244, 1);

  --page-color-2: rgba(76, 138, 255, 1);
  --page-color-3: rgba(153, 184, 255, 1);
  --page-color-4: rgba(204, 224, 255, 1);
 --colorsecondary: rgba(255, 255, 255, 1);

    /* Black colors */
     --pure-black: rgba(0, 0, 0, 1);
     --pure-black-2: rgba(29, 29, 29, 1);
    --colorwhite: rgba(255, 255, 255, 1);
    /* Grey colors */
     --gray-color-1: rgba(40, 40, 40, 1);
  --gray-color-2: rgba(79, 79, 79, 1);
  --gray-color-3: rgba(130, 130, 130, 1);
  --gray-color-4: rgba(189, 189, 189, 1);
  --gray-color-5: rgba(224, 224, 224, 1);

    

    /* -------------
        Tipografías
       ------------- 
    */
    /* Global Font Family */
    font-family: "Inter", Helvetica;
    /* Heading 1 */
    /* --heading-h1-font-family: "Inter", Helvetica; */
    --heading-h1-font-size: 56px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 700;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 61.6px;

    --h1-font-size: 36px;
    --h1-font-style: normal;
    --h1-font-weight: 700;
    --h1-letter-spacing: -0.18px;
    --h1-line-height: 150%;
    /* Heading 2 */
    /* --heading-h2-font-family: "Inter", Helvetica; */
    --heading-h2-font-size: 48px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 700;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 52.8px;

    --h2-font-size: 30px;
    --h2-font-style: normal;
    --h2-font-weight: 700;
    --h2-letter-spacing: 0.20000000298023224px;
    --h2-line-height: 22px;
    /* Heading 3 */
    /* --heading-h3-font-family: "Inter", Helvetica; */
    --heading-h3-font-size: 40px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 700;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 44px;


    --h3-font-size: 24px;
    --h3-font-style: normal;
    --h3-font-weight: 600;
    --h3-letter-spacing: 0.20px;
    --h3-line-height: 22px;
    /* Heading 4 */
    /* --heading-h4-font-family: "Inter", Helvetica; */
    --heading-h4-font-size: 32px;
    --heading-h4-font-style: normal;
    --heading-h4-font-weight: 700;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 35.2px;

    --h4-font-size: 20px;
  --h4-font-style: normal;
  --h4-font-weight: 600;
  --h4-letter-spacing: 0.20px;
  --h4-line-height: 22px;
    /* Heading 5 */
    /* --heading-h5-font-family: "Inter", Helvetica; */
    --heading-h5-font-size: 24px;
    --heading-h5-font-style: normal;
    --heading-h5-font-weight: 700;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 26.4px;


    /* Text Style  */
    
  --large-text-bold-font-size: 18px;
  --large-text-bold-font-style: normal;
  --large-text-bold-font-weight: 700;
  --large-text-bold-letter-spacing: 0px;
  --large-text-bold-line-height: 28px;

/* 
  --large-text-regular-font-family: "Inter", Helvetica; */
  --large-text-regular-font-size: 18px;
  --large-text-regular-font-style: normal;
  --large-text-regular-font-weight: 400;
  --large-text-regular-letter-spacing: 0px;
  --large-text-regular-line-height: 28px;

  /* --medium-text-bold-font-family: "Inter", Helvetica; */
  --medium-text-bold-font-size: 16px;
  --medium-text-bold-font-style: normal;
  --medium-text-bold-font-weight: 700;
  --medium-text-bold-letter-spacing: 0px;
  --medium-text-bold-line-height: 25px;


  /* --medium-text-regular-font-family: "Inter", Helvetica; */
  --medium-text-regular-font-size: 16px;
  --medium-text-regular-font-style: normal;
  --medium-text-regular-font-weight: 400;
  --medium-text-regular-letter-spacing: 0px;
  --medium-text-regular-line-height: 25px;

  /* --normal-text-bold-font-family: "Inter", Helvetica; */
  --normal-text-bold-font-size: 14px;
  --normal-text-bold-font-style: normal;
  --normal-text-bold-font-weight: 700;
  --normal-text-bold-letter-spacing: 0px;
  --normal-text-bold-line-height: 25px;

  /* --normal-text-regular-font-family: "Inter", Helvetica; */
  --normal-text-regular-font-size: 14px;
  --normal-text-regular-font-style: normal;
  --normal-text-regular-font-weight: 400;
  --normal-text-regular-letter-spacing: 0px;
  --normal-text-regular-line-height: 22px;


  /* --text-normal-bold-font-family: "Inter", Helvetica; */
  --text-normal-bold-font-size: 16px;
  --text-normal-bold-font-style: normal;
  --text-normal-bold-font-weight: 700;
  --text-normal-bold-letter-spacing: 0px;
  --text-normal-bold-line-height: 22px;

 
  /* --text-normal-font-family: "Inter", Helvetica; */
  --text-normal-font-size: 16px;
  --text-normal-font-style: normal;
  --text-normal-font-weight: 400;
  --text-normal-letter-spacing: 0px;
  --text-normal-line-height: 22px;
}